body {
    margin: 0;
}
a {
    text-decoration: none;
}
header {
    position: fixed;    /* 스크롤 내려도 위치 유지 위해 */
    display: flex;
    width: 100vw;
    padding: 0 16px;
    justify-content: space-between; 
    align-items: center; 
    background-color: white;
}
#header-left {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: flex-start;
}
#nav-open-btn {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-open-btn:hover {
    background-color: lightgray;
    cursor: pointer;
}
#bar {
    width: 24px;
    height: 24px;
    padding: 5px; 
    cursor: pointer;
}
#youTubePremium-logo {
    width: 97px;
    height: 20px;
    padding: 8px 14px 8px 16px;
    cursor: pointer;
    position: relative;
}
#country-code {
    font-size: 10px;
    color: #606060;
    margin: 12px 0 0 -10px;
    position: absolute;
    top: 1px;
}
#header-middle {
    display: flex;
    flex-direction: row;    /* #search-bar과 #microphone-btn의 가로 배치 위함  */
    width: fit-content;
    margin: 10px 10px;
    justify-content: center;
}
#search-bar {
    margin: 0 0 0 40px;
    padding: 0 4px;
    width: 100%;
    display: flex;
    align-items: center;
}
#search-text {
    position: relative;
}
#search-input {
    border: 1px solid lightgray;
    border-radius: 20px 0 0 20px;
    width: 536px;
    height: 40px;
    padding: 0 4px 0 16px;
    margin: 0 0 0 32px;
    flex: 1;
}
#search-typing-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#search-keyboard {
    width: 19px;
    height: 11px;
}
.hover-details {
    display: none;
    position: absolute; 
	top: 55px;  
    padding: 10px;
	height: 15px; 
	background: rgb(44, 44, 44); 
    opacity: 0.8;
    color: white; 
	font-size: 12px; 
    font-weight: 200;
    border-radius: 5px;
	z-index: 100;
    align-items: center;
}
#magnifyingGlass-btn {
    background-color: #f8f8f8;
    width: 64px;
    height: 42px;
    border: 1px solid lightgray;
    border-radius: 0 20px 20px 0;
    padding: 1px 6px;
    cursor: pointer;
    margin-right: 10px;
}
#magnifyingGlass-btn:hover {
    background-color: lightgray;
    border: 1px solid gray;
    box-shadow: 0.5px 0.5px #f8f8f8;
}
#magnifyingGlass {
    width: 24px;
    height: 24px;
}
#magnifyingGlass-btn-small-screen {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    display: none;
}
#microphone-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
#microphone-btn:hover {
    background-color: lightgray;
}
#microphone {
    width: 24px;
    height: 24px;
}
#header-right {
    display: flex;
    width: 156px;
    height: 40px;
    padding: 0 50px;
    align-items: right;
    justify-content: flex-end;  /* 우측 끝에서 시작 */
}
.header-right-btns {
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 8px;
}
.header-right-btns:hover {
    background-color: lightgray;
}
.header-right-icons {
    width: 24px;
    height: 24px;
}
#alarm-btn {
    position: relative;
}
#alarm-badge {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #c00;
    color: white;
    width: 13.547px;
    height: 16px;
    top: 2px;
    left: 21px;
    border: 2px solid #fff;
    border-radius: 22px;
    font-size: 12px;
    padding: 0 4px;
}
#profile-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#profile-img {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
}

#implicit-nav {
    position: fixed;    /* 위치 고정 */
    /* display: block; */
    /* width: 64px; */
    height: 702px;
    margin-top: 56px;
    padding: 0 4px;
    background-color: white;
}
.imnav-btn {
    background-color: transparent;
    width: 64px;
    height: 74px;
    border: none;
    border-radius: 10px;
    margin: 10px 0 7px;
    background-color: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imnav-btn:hover {
    background-color: lightgray;
}
.imnav-btn-img {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
}
.imnav-name {
    max-width: 100%;
    height: 14px;
    font-size: 10px;
    overflow: hidden;           /* 넘치는 건 안 보이게 */
    text-overflow: ellipsis;    /* 넘치는 건 말줄임표로 */
    white-space: nowrap;        
}
#explicit-nav {
    position: fixed;    /* 위치 고정 */
    /* display: none; */
    margin-top: 56px;
    padding: 0 4px;
    background-color: white;
    width: 224px;
    height: 702px;
    padding: 0 12px;
    overflow: scroll;
}
.guide-section {
    width: 216px;
    padding: 12px;
}
.exnav-btn {
    width: 190px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    padding: 0 12px;
}
.exnav-btn:hover {
    background-color: lightgray;
}
.exnav-btn-img {
    width: 18px;
    height: 18px;
    margin-right: 24px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.exnav-name {
    width: 100%;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}
.guide-section {
    padding: 12px;
    border-bottom: 1px solid lightgray;
    width: fit-content;
}
#inner-guide-section {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid lightgray;
    width: fit-content;
}
.subscribing-channel-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    margin-right: 24px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer-guide {
    padding: 16px 24px 16px 24px;
    font-size: 14px;
}
main {
    width: calc(100% - margin-left);   /* nav바 너비 뺌 */
    display: flex;
    flex-wrap: wrap;
    margin-left: 72px;
    padding: 70px 30px 0 30px;
}
.contents-row-item {
    width: 313px;
    object-fit: cover;  /* 비율 고정 */
    margin: 0 7px 40px 7px;
    flex-grow: 1; 
    flex-shrink: 1;
    flex-basis: 310px;
    cursor: pointer;
    transition:
        transform 3s;
}
.thumbnail-box {
    position: relative;
    z-index: -1;
}
.thumbnail {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16 / 9;       /* 16:9 비율 유지 */
    border-radius: 10px;
}

.thumbnail-video {
    width: 100%;
    aspect-ratio: 16 / 9;
}
.time-status {
    position: absolute;
    background-color: black;
    opacity: 0.8;  
    display: inline-block;      /* 내용에 맞는 width 길이 갖도록 */
    height: 12px;
    padding: 3px 4px;
    border-radius: 4px;
    bottom: 8px;
    right: 3px;
    color: white;
    font-size: 12px;
    font-weight: 800;
} 
.contents-details {
    display: flex;
    flex-direction: row;    
    width: 100%;
    height: 100px;           /* 고정 */
    justify-content: space-between;
}
.avatar {
    width: 36px;
    height: 36px; 
    border-radius: 50%;
    margin: 12px 12px 0 0;
}
.meta {
    display: inline-block;
    width: 100%;
    height: 100px;
}
.title {
    color: black;
    font-size: 16px;
    width: 241.73px;
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 12px 0 4px 0;
    display: -webkit-box;       /* 두 줄부터 말줄임표 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.metadatas {
    color: #606060;
    font-size: 14px;
    width: fit-content;
    height: 20px;
}
.detail-btn {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    padding: 0;
    /* display: none; */
    right: 0;
}
.detail-btn:hover {
    cursor: pointer;
    display: block;
}
.details {
    width: 24px;
    height: 24px;
}

/* 656px부터 #magnifyingGlass-btn 모양 바뀜 */
@media screen and (max-width: 656px) {
    #search-bar {
        display: none; 
    }
    #magnifyingGlass-btn-small-screen {
        display: block;
    }
    #microphone-btn {
        background-color: transparent;
    }
    #header-right {
        display: flex;
        width: 156px;
        height: 40px;
        padding: 0 30px;
        align-items: right;
        justify-content: flex-end; 
    }
}

/* 791px부터 implicit nav 사라짐 */
/* main의 margin-left: 72px 사라짐 */
@media screen and (max-width: 791px) {
    #implicit-nav {
        display: none;
    }
    main {
        width: calc(100% - margin-left);   /* nav바 너비 뺌 */
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        padding: 70px 30px 0 30px;
    }
}


