body {
  margin: 0;
  padding: 0;
}

/* -------------- header -------------- */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px 0 60px;
}
h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.setting_btn {
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  border: 2px solid #ff6600;
  background-color: transparent;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

/* -------------- main -------------- */
#main_zone {
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
#puzzle_zone {
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img_container {
  border: 1px dashed deeppink;
  list-style: none;
  display: grid; /* 항상 일정한 비율로 정렬되도록 함 */
  grid-template-columns: repeat(4, 1fr); /* 하나의 요소를 4번 반복하겠다는 뜻 */
}
li {
  width: 100px;
  height: 100px;
  border: 1px dashed darkturquoise;
  /* float: left;  좌우로 정렬 */
  background: url(imgs/favicon.png);
}
.game_txt {
  display: none;
  position: absolute;
  justify-content: center;
  color: #ff6600;
  text-shadow: 1px 1px rgba(0, 0, 0, 5);
  font-size: 20rem;
}

/* -------------- form -------------- */
#puzzle_size {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.puzzle_size_selection {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem;
}

/* li 위치 */
.class0 {
  background-position-x: 0px;
  background-position-y: 0px;
}
.class1 {
  background-position-x: -100px;
  background-position-y: 0px;
}
.class2 {
  background-position-x: -200px;
  background-position-y: 0px;
}
.class3 {
  background-position-x: -300px;
  background-position-y: 0px;
}
/* ------------------------------- */
.class4 {
  background-position-x: 0px;
  background-position-y: -100px;
}
.class5 {
  background-position-x: -100px;
  background-position-y: -100px;
}
.class6 {
  background-position-x: -200px;
  background-position-y: -100px;
}
.class7 {
  background-position-x: -300px;
  background-position-y: -100px;
}
/* ------------------------------- */
.class8 {
  background-position-x: 0px;
  background-position-y: -200px;
}
.class9 {
  background-position-x: -100px;
  background-position-y: -200px;
}
.class10 {
  background-position-x: -200px;
  background-position-y: -200px;
}
.class11 {
  background-position-x: -300px;
  background-position-y: -200px;
}
/* ------------------------------- */
.class12 {
  background-position-x: 0px;
  background-position-y: -300px;
}
.class13 {
  background-position-x: -100px;
  background-position-y: -300px;
}
.class14 {
  background-position-x: -200px;
  background-position-y: -300px;
}
.class15 {
  background-position-x: -300px;
  background-position-y: -300px;
}
